body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  text-align: center;
}

header {
  text-align: center;
}

.color-text {
  color: red;
  font-family: 'Times New Roman', Times, serif;
  font-size: 2rem;
}

.image-size {
  width: 600px;
  height: 200px;
}